{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}

{{outlet}}
<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Friends
</h2>

<button name="button">c:</button>
